<p>
  <a href="https://smcclatchy.github.io/introductory-statistics-with-r/">Introductory Statistics with R</a>
  aims to help novice programmers learn R as their first programming language. The course
  presents basic statistics with R using publicly available biomedical data sets.
  This hands-on workshop will cover basic concepts and tools, including data types, data
  transformation, descriptive calculations, and data visualization.
  Participants will be encouraged to help one another and to apply what they have learned
  to their own research problems.
</p>
